body{
    display:flex;
    align-items:center;
    justify-content: center;
}
#search{
    display: flex;
    width: 598px;
    border: 1px solid black;
    border-bottom: 0;
}
#searchText{
    font-family: 'Roboto', sans-serif;
    border: 0;
    width: 100%;
}
#info{
    display: flex;
    width: 600px;
}
#firstArea{
    border: 1px solid black;
    height: 390px;
    width: 300px;
    border-right: 0;
    position: relative;
}
#temperature{
    padding: 20px;
    font-size: 70px;
}
#icon{
    padding-top: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
}
#firstBottom{
    padding-top: 63px;
    display: flex;
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 16px;
}
#nameCity{
    padding-left: 12px;
    width: 100%;
}
#secondArea{
    border: 1px solid black;
    width: 300px;
    height: 390px;
}
.data{
    padding-bottom: 14px;
    font-size: 24px;
    font-weight: 400;
    Line-height: 28px
}
ul{
    scroll-snap-type: y;
    list-style-type: none;
    padding-bottom: 14px;
    scroll-behavior: smooth;
}
ul button{
    background: transparent;
    border: 0;
    font-size: 24px;
    font-weight: 400;
    Line-height: 28px
}
.container {
    display: flex;
    overflow: auto;
    flex: none;
}
.container.y {
    font-family: 'Roboto', serif;
    font-style: normal;
    height: 307px;
    flex-flow: column nowrap;
}
.container.sec{
    height: 263px;
    flex-flow: column nowrap;
}
.sec.mandatory-scroll-snapping{
    scroll-snap-type: y mandatory;
}
.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}
.container::-webkit-scrollbar {
    width: 0;
}

.img-svg path{
    fill: aqua;
}
.dataButton{
    cursor: pointer;
}
.data:hover .exit {
    opacity: 1;
}
.exit{
    cursor: pointer;
    opacity: 0;
}
